<section class="group">
	<h6>Help</h6>
	
	<section class="help">
		<p>
			This page is under construction. If you need any assistance with Pomodoro Crate, please use the 
			<%= link_to "Feedback form", new_contact_request_path, :class => [:button, :iframe] %>
		</p>
	</section>
</section>