## application server configuration, understood by both `foreman` and script/unicorn.
## ENV['RAILS_RELATIVE_URL_ROOT'] is required when mounting into a sub-location. it
## affects precompiled assets, so if you change it run rake assets:precompile again.
#RACK_ENV=production
UNICORNS=2
PORT=3000
#RAILS_RELATIVE_URL_ROOT=/ketchup

## email adresses. Please at least provide DEFAULT_EMAIL or application will fail.
#DEFAULT_EMAIL="Ketchup <ketchup@localhost>"
#ADMIN_EMAIL="Ketchup Admin <ketchup+admin@localhost>"
#CONTACT_EMAIL="Ketchup Contact <ketchup+contact@localhost>"
#SUPPORT_EMAIL="Ketchup Support <ketchup+support@localhost>"
#NOTIFICATION_EMAIL="Ketchup Notifications <ketchup-do-not-reply@localhost>"

## smtp server setup. the ActionMailers are mapped to SMTP_* environment variables.
## http://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration
#SMTP_ADDRESS="smtp.gmail.com"
#SMTP_PORT=587
#SMTP_DOMAIN="<your domain.com>"
#SMTP_USER_NAME="<username>@gmail.com"
#SMTP_PASSWORD='password>'
#SMTP_AUTHENTICATION=plain
#SMTP_ENABLE_STARTTLS_AUTO=true

## fill and uncomment GA_ACCOUNT and GA_DOMAIN below to enable Google Analytics in production
#GA_ACCOUNT=YourGoogleAnalyticsIdHere
#GA_DOMAIN=YourDomainHere
