.bundle
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
/_files_
/_ui_
/_web_fonts_
/_backup_
/_expenses_
/_html_
/_layout_
/_mockups_
_videos_/
_documents_/
_documents_/
/vendor/bundle
