<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @user.name %>,</h1>
    <p>
      We have received a request to reset your password.
    </p>
		<p>
			If you did initiate such a request, please follow this link: <%= @url %>
		</p>
    <p>Otherwise just ignore this email.</p>
  </body>
</html>