<section class="group">
	<h6>Pomodoros</h6>
	
	<table class="analytics">
		<caption>Completed pomodoros / voided pomodoros - last <%= (@end_date - @start_date).to_i %> days</caption>
		
		<thead>
			<tr>
				<td></td>
				<% (@start_date..@end_date).each do |d| %>
					<th scope="row"><%= d.to_date %></th>
				<% end %>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<th scope="col">Completed</th>
				<% (@start_date..@end_date).each do |d| %>
					<td class="values"><%= @complete_pomodoros[d.to_s].blank? ? 0 : @complete_pomodoros[d.to_s] %></td>
				<% end %>
			</tr>
			<tr>
				<th scope="col">Void</th>
				<% (@start_date..@end_date).each do |d| %>
					<td class="values"><%= @void_pomodoros[d.to_s].blank? ? 0 : @void_pomodoros[d.to_s] %></td>
				<% end %>
			</tr>
		</tbody>
		
	</table>

</section>