<%= render "shared/analytics_filter_toolbar" %>

<section class="group">
	
	<% unless @complete_pomodoros.empty? and @void_pomodoros.empty? and @estimated_pomodoros.empty? %>
		<%= render "completed_vs_voided_pomodoros" %>
		<%= render "estimated_vs_completed_pomodoros" %>
		<%= render "completed_pomodoros_vs_worked_time" %>
	<% else %>
		<p class="pageContainer">
			You have no data to process.
		</p>
		<p class="pageContainer">
			Complete some pomodoros and then come back to see how you stand.
		</p>
	<% end %>

</section>