<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @user.name %>,</h1>
    <p>
      Your pomodoro for 
      "<%= @pomodoro.activity.name %>" has finished.<br/>
    </p>
		<p>
			<%= text_format(@pomodoro.activity.description) %>
		</p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>