<div class="toolbar">
	<form>
		Filter by
		<input type="text" value="Activity name" />
		<select>
			<option>Project name</option>
		</select>
		<input type="text" value="Due date" />
		<input type="submit" value="Filter" class="submit" />
	</form>
</div>