<nav>
	<ul>
		<% if signed_in? %>
			<li class="name">
      	<%= link_to current_user.name, edit_user_path(current_user), :class => :nav %>
			</li>
			<!--li>
				<% link_to "Settings", "#", :class => :nav %>
			</li-->
		<% end %>
		<li><a href="#" class="nav">Help</a></li>
		<li class="last">
			<% if signed_in? %>
				<%= link_to "Sign out", signout_path, :method => :delete, :class => :nav %>
			<% else %>
				<%= link_to "Sign in", signin_path, :class => :nav %>
			<% end %>
		</li>
	</ul>
</nav>