<nav>
	<ul class="top_nav">
		<li>Home</li>
		<li>Projects</li>
		<li><%= link_to("Activity list", activities_path) %></li>
		<li><%= link_to("Todo Today", todotodays_path) %></li>
		<li>Analytics</li>
		<li>Settings</li>
		<li>Login</li>
	</ul>
</nav>