<nav>
	<ul>
		<li class="name">Welcome Adrian</li>
		<li><a href="#" class="nav">Settings</a></li>
		<li><a href="#" class="nav">Help</a></li>
		<li class="last"><a href="#" class="nav">Log off</a></li>
	</ul>
</nav>