<ul class="toolbar">
	<li><%= link_to_unless Project.where(:user_id => current_user).empty?, "New activity", new_activity_path, :class => [:toolbar_button, :standard_shadow] %></li>
	<li><%= link_to "New project", new_project_path, :class => [:toolbar_button, :standard_shadow] %></li>
</ul>