<aside>
	
	<section id="activityStatus" class="contentBoxNav">
		<nav>
			<ul>
				<li class="active"><a href="#" class="tabs">Today</a></li>
				<li><a href="#" class="tabs">7 days</a></li>
				<li><a href="#" class="tabs">30 days</a></li>
			</ul>
		</nav>
		<div class="widgetBox">
			moo ha
		</div>
	</section>
	
</aside>