<% unless @today_remaining_pomodoros == 0 and @today_completed_pomodoros == 0 %>
<aside>
	
	<section id="activityStatus" class="contentBoxNav">
		<nav>
			<ul>
				<li class="active"><a href="#" class="tabs">Daily stats</a></li>
			</ul>
		</nav>
		<div class="widgetBox">
			<section class="group">
				<h6>Remaining pomodoros: <%= @today_remaining_pomodoros %></h6>
				<div class="pomodorosCount"><%= pomodoros_as_image(@today_remaining_pomodoros, true) %></div>
				
				<h6>Completed pomodoros: <%= @today_completed_pomodoros %></h6>
				<div class="pomodorosCount"><%= pomodoros_as_image(@today_completed_pomodoros) %></div>
			</section>
		</div>
	</section>
	
</aside>
<% end %>