<div class="headerContent">
	<p class="textHead1">Simply get more things done!</p>
	<p class="textHead2">Boost your productivity and <br/>alleviate the anxiety of deadlines.</p>
	<div class="promoText">
		<p>Agile time management based on <span>Pomodoro Technique&reg;</span>. Easy and <span>free</span>.</p>
		<%= link_to 'Sign Up', signup_path, :class => 'signUp', :title => 'Create your FREE Pomodoro Crate account and enjoy your newly found productivity' %>
	</div>
	<div id="signin_invite">Returning user? <%= link_to 'Sign in', signin_path %></div>
</div>