<section id="content" class="longWrapper">
	<div class="lineBg">
		<h2 class="shortWrapper">About the Pomodoro Crate <%= render 'addthis' %></h2>
	</div>
	
	<div class="shortWrapper wideArticle" id="about_pomodoro_crate">
		<p>
			<strong>Pomodoro Crate is a time management web application, based on the Pomodoro Technique</strong>. It comprises a full stack Pomodoro Technique implementation, covering all aspects, 
			from Activity Inventory, to Today list, to Timer and Timed Breaks and Analytics.
		</p>
		<br/>
		<p>
			It has been architected by <%= link_to 'Adrian Salceanu', 'http://reveloper.com/about/adrian-salceanu/', :target => :_blank -%>, a Pomodoro Technique veteran. It came as a 
			reaction to the fact that using paper and pencil is simply counter productive. Copying activities from the inventory to the today list, manually updating and sorting tasks, 
			transferring activities from one month to another, counting and calculating stats and analytics - well, that's nothing but boring, time consuming administrative work, that 
			stands in the way of completing valuable and productive activities.
		</p>
		<br/>
		<p>That is why <strong>Pomodoro Crate was designed to stay out of your way - to discretely handle the tedious administrative issues while letting you focus on the 
			creative activities and on actually getting things done</strong>.
		</p>
		<br/>
		<p>
			<strong>Pomodoro Crate</strong> makes the Pomodoro Technique even easier, faster, unobtrusive and fun!
		</p>
	</div>
</section>