<footer id="footer" class="longWrapper">

	<div class="lineBg">
			<h2 class="shortWrapper">The Pomodoro Technique &#0153;</h2>
	</div>

	<div class="shortWrapper">
			<p class="article firstArticle doubleSizeArticle">
				The Pomodoro Technique® is a way to get the most out of time management. Turn time into a valuable ally to accomplish what you want to do and chart continuous improvement in the way you do it.<br/>
				Francesco Cirillo created the Pomodoro Technique® in the 1980s. It is now practiced by professional teams and individuals around the world.
			</p>
			<p class="article">
				Check the official website where
				you can <a href="http://www.pomodorotechnique.com/products.html#pomodoropdf" title="Download the Pomodoro Technique book" target="_blank">download</a> the Pomodoro Technique book or the 
				Pomodoro Technique cheat sheet.
			</p>
			<p class="article">
					We recommend 
					<a href="http://pragprog.com/titles/snfocus/pomodoro-technique-illustrated" title="See the Pomodoro Technique Illustrated book on the publisher's site" target="_blank">Pomodoro Technique Illustrated</a> 
					by Staffan Nöteberg: a fun and playful presentation of the technique, yet without leaving anything of the serious stuff out.
			</p>
	</div>

</footer>