<section class="longWrapper" id="features">

	<div class="lineBg">
		<h2 class="shortWrapper">Features</h2>
	</div>

	<div class="shortWrapper">

		<article class="article firstArticle">
			<a href="assets/screen_activities.jpg" class="thumbnail" title="Activities - Put all your tasks and to dos in a safe and accessible place. Clear  your mind so that you can focus on getting things done." rel="features_set"><img src="assets/thumb_activities.png" border="0"/></a>
			<p><span>Activities.</span> Put all your tasks and to dos in a safe and accessible place. Clear  your mind so that you can focus on <em>getting things done</em>.</p>
		</article>
		
		<article class="article">
			<a href="assets/screen_todo_today.jpg" class="thumbnail" title="Todo Today - Take control of your schedule. Pick the tasks you will be working on today and commit to doing them." rel="features_set"><img src="assets/thumb_todo_today.png" border="0"/></a>
			<p><span>Todo Today.</span> Take control of your schedule. Pick the tasks you will be working on today and commit to doing them.</p>
		</article>
		
		<article class="article">
			<a href="assets/screen_timer.jpg" class="thumbnail" title="The Timer - User configurable timer with voice alerts and email notifications." rel="features_set"><img src="assets/thumb_timer.png" border="0"/></a>
			<p><span>The Timer.</span> User configurable timer with voice alerts and email notifications.</p>
		</article>
		
		<article class="article">
			<a href="assets/screen_break.jpg" class="thumbnail" title="Timed Breaks - Alternate high focus periods with short relaxation breaks for maximum productivity." rel="features_set"><img src="assets/thumb_break.png" border="0"/></a>
			<p><span>Timed Breaks.</span> Alternate high focus periods with short relaxation breaks for maximum productivity.</p>
		</article>

		<article class="article firstArticle secondRow">
			<a href="assets/screen_projects.jpg" class="thumbnail" title="Projects - Group your activities into projects for easy tracking and filtering, GTD style." rel="features_set"><img src="assets/thumb_project.png" border="0"/></a>
			<p><span>Projects.</span> Group your activities into projects for easy tracking and filtering, GTD style.</p>
		</article>
		
		<article class="article secondRow">
			<a href="assets/screen_analytics.jpg" class="thumbnail" title="Analytics - Track your progress and productivity to determine the areas where you need to improve." rel="features_set"><img src="assets/thumb_analytics.png" border="0"/></a>
			<p><span>Analytics.</span> Track your progress and productivity to determine the areas where you need to improve.</p>
		</article>
		
		<article class="article secondRow">
			<a href="assets/screen_widgets.jpg" class="thumbnail" title="Widgets - Take advantage of the productivity boosting widgets that show you the daily status, upcoming deadlines and more." rel="features_set"><img src="assets/thumb_widgets.png" border="0"/></a>
			<p><span>Widgets.</span> Productivity boosting widgets that display the daily status, upcoming deadlines and more.</p>
		</article>
		
		<article class="article secondRow">
			<a href="assets/screen_settings.jpg" class="thumbnail" title="Settings - Customize your workflow and augment your Pomodoros with audio and email notifications." rel="features_set"><img src="assets/thumb_settings.png" border="0"/></a>
			<p><span>Settings.</span> Customize your workflow and augment your Pomodoros with audio and email notifications.</p>
		</article>
		
	</div>
	
</section>