<section class="longWrapper" id="coming_soon">

	<div class="lineBg">
		<h2 class="shortWrapper">Coming soon</h2>
	</div>

	<div class="shortWrapper">
		<article class="article firstArticle">
			<p><span>Files.</span> Attach files to your projects and activities - such as legal documents, technical specifications, documentation, sales reports or designs.</p>
		</article>
		
		<article class="article">
			<p><span>Teams.</span> Invite your colleagues and collaborators to be part of your team and share projects and activities, while taking advantage of unified analytics.</p>
		</article>
		
		<article class="article">
			<p><span>Delayed messaging.</span> Communicate with your team without breaking their flow - send messages that will be received when they finish their current Pomodoro.</p>
		</article>
		
		<article class="article">
			<p><span>RESTful API.</span> Your data, your way. Build custom applications using the Pomodoro Crate data or integrate it into your existing enterprise applications.</p>
		</article>
	</div>
	
</section>