<div class="headerContent" id="content_header">
	
	<p class="textHead1">Hello! How can we help?</p>
	<p class="textHead2">
		Get in touch with us using <br/>the <strong>form on the right</strong>, <br/>
		or contact us on <%= link_to 'Twitter', 'http://twitter.com/pomodorocrate', :target => :_blank -%> <br/> 
		or <%= link_to 'Facebook', 'http://www.facebook.com/pages/Pomodoro-Crate/190586580973515', :target => :_blank -%>.
	</p>
  <p class="textHead2">
    If you prefer email, you can send your queries to <strong>support [at] pomodorocrate [dot] com</strong>
  </p>
</div>