/* 
orange: #ef4832 
gray: #898989
lighter gray: #e7e7e7
light gray: #f5f5f5
mustard: #DFB538
blue: #3861DF
*/

* { font-family: Arial, Verdana, sans-serif; }
option { font-family: MetaProNormal, Arial, Verdana, sans-serif; }

body { 	background: #e5e2d2; color: #898989;
	 	font-family: Arial, Verdana, sans-serif; font-size: 12px; }

#site { margin: 0 auto; /* min-width: 980px; */ padding: 16px; }
#page { background: image-url("bg_app_texture.jpg") #fff;
        /* float: left; */ margin-bottom: 20px; padding: 5px 15px 15px 15px; min-width: 960px;
        font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 12px; }

header { 	border-bottom: 10px solid #edecea; height: 50px; margin: -5px 0 0 -15px; padding: 0 15px; /* min-width: 960px; */
	 		background: #696558; }
	#logo { display: block; width: 160px; }
		#logo h2 { 	background: image-url("logo_pomodoro_crate.png") top left no-repeat;
                    text-indent: -999px;
                    height: 82px; margin-bottom: 8px; overflow: hidden; width: 158px; margin-left: 5px; }
        #logo h2:hover { 	background: image-url("logo_pomodoro_crate_hover.png") top left no-repeat; }
	header nav { float: right; }
		header nav ul { display: inline; float: left; list-style: none; margin-top: -78px; }
			header nav ul li { display: inline; float: left; padding-top: 5px; }
				header nav ul li.name {  }
				header nav ul li.last { border-right: 0; padding-right: 0; }
				
a.top_nav { color: #c4bca2; font-family: MetaProNormal, Arial, sans-serif; font-size: 13px; text-decoration: none; 
            display: block; margin-top: -4px; padding: 5px 7px;
            -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	a.top_nav:hover { background: #4e4b41; color: #ece2c3; text-shadow: 1px 1px 0px #333; }

#content_area { margin-top: 84px; }
				
#content { 	background-color: #96917d;
            /* float: left; */ padding: 1px; /* min-width: 710px; */ }
	.contentBoxNav nav ul { background: #e5e2d2; height: 32px; /*float: left;*/ list-style: none; width: 100%; }
		.contentBoxNav nav ul li { 	display: inline; float: left;
                                    font-family: MetaProBold, Arial, sans-serif; font-size: 14px;
                                    background: #c2bda7; }
			.contentBoxNav nav ul li a { font-family: MetaProBold, Arial, Verdana, sans-serif; }
			.contentBoxNav nav ul li.active { background: #a39e89; }
				.contentBoxNav nav ul li.active a.tabs { 	color: #faf9f4; font-family: MetaProBold, Arial, Verdana, sans-serif; }
				
	#content.no_sidebar { width: 960px; }
				
.toolbar { 	background: #a39e89; list-style: none;
						clear: both; height: 44px; width: 100%; }
	.toolbar li { display: inline; float: left; padding: 6px 10px; }
	.toolbar form { padding: 7px 10px; }
		.toolbar form input[type=text], .toolbar form select { 	background: #E5E2D2; color: #6B685D;
                                                                border: 0; margin-left: 10px; padding: 4px; width: 120px;
                                                                font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 14px; text-transform: none; }
			.toolbar form select { max-width: 240px; min-width: 120px; width: auto; }
			.toolbar form input[type=text] { width: 250px; }
																
input.submit { 	background: #fff; color: #ef4832; cursor: pointer; font-size: 12px; font-weight: bold; 
				border: 0; padding: 2px 14px; }
				
section.group {  }
	section.group h6, .visualize-title { 	background: #e5e2d2; color: #827d6a; font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 17px; 
		 									border-top: 1px solid #c8c5b7; border-bottom: 1px solid #c8c5b7; padding: 0 0 1px 10px; }
		
		section.group h6.settings { font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 14px;
                                    border: 1px solid #c8c5b7; margin: 10px 0;
                                    background-color: #a39e89; color: #fff; }
		
.visualize-title { padding-right: 10px; }
		
.activityList { list-style: none; }
	.activityList li { 	background: #fff; color: #787465;
                        border-bottom: 2px solid #e7e7e7; padding: 6px 0 6px 10px;
                        font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 14px; }
		.activityList li:last-child { border-bottom: 0; }
		.activityList li.opened { background-color: #f4f4ee; }
		
.activityList li .activity, .activityList li .activityName { font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 14px; }
		
.quickView {  }						
input.checkbox { 	float: left; margin: 1px 8px 0 0;
                    cursor: pointer;
                    padding-bottom: 2px; }
#content .activityName { cursor: pointer; color: #787465; width: 550px; }
	#content .activityName .project { font-family: MetaProNormal, Arial, Verdana, sans-serif; }
.pomodorosCount { padding: 16px 6px 10px; }
	.pomodorosCount img { margin-left: 2px; }
.listPomodorosCount { float: right; margin-top: -34px; height: 12px; }
.detailsView { 	padding: 6px 10px 2px 26px; display: none;
	 			color: #a39e89; }
	.detailsView p { font-family: MetaProNormal, Arial, Verdana, sans-serif; }

.actionsBar { 	list-style: none; margin: 6px 0 0 -12px; }
    .actionsBar li { border: none; display: inline; padding-left: 2px;
                     font-weight: bold;
                     background-color: transparent !important; }
		.actionsBar li:first-child { padding-left: 10px; }
	
.infoBar { list-style: none; margin-top: 12px; }
	.infoBar li { 	border: none; padding-left: 0 !important; padding-top: 0px !important; padding-bottom: 2px !important;
		 		    background-color: transparent !important; color: #787465; }

#sidebar { float: right; margin-right: -2px; /* min-width: 231px; */ }
		
aside { float: right; margin-bottom: 12px; padding: 1px; min-width: 233px;
	 	background: #918c77;}
	aside.empty_widget { margin-bottom: 0; padding: 0; background: none; }

.widgetBox { 	background: #fff; border-top: 1px solid #918c77; }
	.widgetBox .pomodorosCount { 	border-top: 1px solid #d6d4c9; border-bottom: 1px solid #d6d4c9; 
		 							text-align: center;}
	.widgetBox .submit, .formContainer .submit, .toolbar .submit { 	background: image-url("icon_apply.png") 8px center no-repeat #e24630; color: #ffe1dd;
                                                                    font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 11px; font-weight: normal; letter-spacing: 1px;
                                                                    text-align: right; text-decoration: none; text-shadow: 1px 1px 0px #a52618; text-transform: uppercase;
                                                                    height: 34px; padding: 4px 8px 4px 28px;
                                                                    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	.widgetBox textarea { 	border: 1px solid #e7e7e7; height: 80px; padding: 4px; width: 97%;
							color: #898989; font-family: Arial, Verdana, sans-serif; font-size: 12px;  }
	.widgetBox a.button { float: right; margin-top: -18px; padding: 1px 2px;
		 				  color: #a39e89; font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; text-transform: uppercase;
		 				  white-space: nowrap; }
	.widgetBox a.details_button {   font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 10px;
		 						    margin-top: -2px !important; }
.time { color: #a39e89; font-family: MetaPlusMediumCapsRegular, Arial, Verdana, sans-serif; font-size: 84px; font-weight: bold; line-height: 74px; letter-spacing: -2px; text-align: center;
 		display: block; padding: 12px 0; /* width: 209px; */ }

.tickbox { margin-top: 10px; }

.flash { 	margin-bottom: 10px; margin-top: 30px; padding: 6px 10px;
	 				background: transparent;
	 				font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 15px;
					-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
	.flash.notice { background-color: #858174; color: #E5E2D2; }
	.flash.error { 	background: image-url("icon_forbidden.png") 6px 7px no-repeat #ec533e; color: #f7cfca;
		 							padding-left: 32px; }
	.flash.success { background-color: #8cab77; color: #ccf7b0; }
		
.formContainer { background: #fff; }
	.formContainer form { padding: 6px 12px; }
	.formContainer .field { margin-bottom: 12px; }
	.formContainer label { 	font-size: 14px; font-weight: normal; }
	.formContainer input[type=text], .formContainer input[type=password] { 	background: #E5E2D2; color: #6B685D;
                                                                            border: 0; padding: 6px; width: 98%;
                                                                            font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 15px; }
	.formContainer input[type=password] { font-family: Verdana, Arial, sans-serif; }
	
	.formContainer select {	background: #E5E2D2; color: #6B685D;
													border: 0; max-width: 256px; padding: 6px;
													font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 15px; }
	.formContainer input.numeric { width: 30px !important; }
	.formContainer textarea { 	background: #E5E2D2; color: #6B685D;
															border: 0; height: 100px; padding: 6px; width: 98%;
															font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 15px; }
								
	.signUpForm input[type=text], .signUpForm input[type=password] { width: 250px !important; }

.activity_name { 	background: image-url("bg_timer.png") top left repeat-x #f1efe5; color: #858174; font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 13px;
 									padding: 16px 12px 12px; }
.activity_details { background-color: #f1efe5; color: #a39e89; font-weight: normal; font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 13px; word-wrap: break-word;
	 									max-height: 300px; overflow-x: hidden; overflow-y: auto; padding: 2px 12px 14px; }
	.activity_details p { font-family: MetaProNormal, Arial, Verdana, sans-serif; }
	
.past { color: red !important; font-family: MetaProNormal, Arial, Verdana, sans-serif; }
.present { font-family: MetaProNormal, Arial, Verdana, sans-serif; }
.future { font-family: MetaProNormal, Arial, Verdana, sans-serif; }

.pageContainer { 	background: #fff; padding: 6px 12px;
	 								font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 14px; }
.withSeparator { border-top: 2px solid #E7E7E7; }

.widgetBox .actionsBar { clear: both; height: 6px; margin-top: 20px; }
	.widgetBox .actionsBar li a { margin-left: 6px; }
.widgetBox .activityList li { padding: 6px 12px 0; }

.inProgressMarker { 	font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 10px; text-transform: uppercase; white-space: nowrap;
                        background: #3AA5E7; color: #fff;
                        margin-right: 2px; padding: 2px 4px;
                        -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.todotodayMarker { 	font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 10px; text-transform: uppercase; white-space: nowrap;
                    background: #DFB538; color: #fff;
                    margin-right: 2px; padding: 2px 4px;
                    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.deadlineMarker { 	font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 11px; text-transform: uppercase; white-space: nowrap;
                    color: #898989;
                    padding: 2px 4px; }

.activityCompleted, .projectCompleted { text-decoration: line-through; }

#error_explanation { 	border: 0px solid #ef4832; margin-bottom: 12px; padding: 6px;
	 				    font-family: MetaProNormal, Arial, Verdana, sans-serif; }
	#error_explanation ul { list-style: none; }
		#error_explanation ul li { color: #ef4832; font-family: MetaProNormal, Arial, Verdana, sans-serif; }

.field_with_errors { color: #ef4832; }
	.field_with_errors input, .field_with_errors select, .field_with_errors textarea { border: 1px solid #ef4832 !important; width: 98% !important; }
.container_of_field_with_errors { /*border: 1px solid #ef4832;*/ padding: 2px; }

.formContainer .field_with_errors { display: inline; }

.hoverActivity { background: #f5f5f5 !important; }

.projectProgress { font-size: 22px; font-weight: bold; margin-top: -25px; }
.projectDetails { 	float: right; margin: -4px 0 0 10px; min-width: 50px;
	 				font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 16px; font-weight: normal; text-align: left; }
.explanation { 	color: #ef4832; font-size: 28px; font-weight: bold;
	 			display: block; float: left; margin: -3px 6px 0 0;}
	
.activeInput { outline: 1px solid #898989 !important; }

#activityFilter label { margin-left: 16px; 
	 					font-family: MetaProBold, Arial, Verdana, sans-serif; }

#timedBreak .widgetBox { 	background-color: #a39e89;
                            text-align: center;
                            height: 100px; padding: 14px 0 0 2px !important; }
#timedBreak .timer { padding: 26px 0 2px; }
#timedBreak .button {   display: block; float: none; margin-bottom: 8px;
					    font-size: 20px; text-align: center; }
									
.breakButtons { list-style: none; margin-left: 9%; }
	.breakButtons li { 	background-color: #858174; color: #e5e2d2;
                        display: inline; float: left; height: 84px; /* margin: 3px 5px; */ overflow: hidden; /* width: 105px; */
                        font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 14px;
                        -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
                        text-shadow: 1px 1px 0px #736e60;
                        cursor: pointer;
	}
	.breakButtons li span { display: block; margin-top: 12px;
                            background-color: #736e60;
                            font-family: MetaProBold, Arial, Verdana, sans-serif; text-transform: uppercase;
                            -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px;
                            -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; }
	.breakButtons li a { color: #e5e2d2; font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 50px; line-height: 50px; text-decoration: none; }

.breakButtonHover { background: image-url("break_hover_marker.png") top center no-repeat; }

.pagination { padding: 6px 16px; }

.analytics { 	background: #fff;
	 			width: 100%;}
	
#activityStatus .widgetBox { padding: 0 0 1px 0; }

.signUpForm {  }
	.signUpForm p { padding: 6px 10px; }
	.signUpForm form { width: 300px; }
div.gravatar { float: left; padding: 12px; }
	div.gravatar a { display: block; }
	
nav .name img { margin: 0 4px -5px 0; }

.breaksBox { text-align: center; }

#slider { float: right; margin: 10px 430px 0 0; width: 200px; }

#content.no_sidebar #slider { margin-right: 676px; }
#content.no_sidebar #setting_pomodoro_length_slider { margin-right: 676px; }
#content.no_sidebar #setting_short_break_length_slider, #content.no_sidebar #setting_long_break_length_slider, 
#content.no_sidebar #setting_voice_notifications_volume_slider, #content.no_sidebar #setting_tick_tack_sound_volume_slider, 
#content.no_sidebar #setting_ring_sound_volume_slider { margin-right: 205px; }

.ui-datepicker-trigger { height: 24px; margin-bottom: -8px; width: 24px; }
table.punymce { width: 99%; }

a.external { 	color: #30B1FF;
	 						padding: 2px; }
	a.external:hover { 	background: #30B1FF; color: #fff; text-decoration: none;
		 									-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	
.standard_shadow { text-shadow: 1px 1px 0px #333; }
		
.boxShadow {
  -moz-box-shadow: 0px 0px 15px -3px #333; /* Firefox */
  -webkit-box-shadow: 0px 0px 15px -3px #333; /* Safari, Chrome */
  box-shadow: 0px 0px 15px -3px #333; /* CSS3 */
	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}
.completeBox { -moz-border-radius: 5px; border-radius: 5px; }

.infoBar a { 	color: #e3533e; font-family: MetaProNormal, Arial, Verdana, sans-serif;
	 						padding: 2px; }
	.infoBar a:hover { 	background: #b4b09f; color: #fff; text-decoration: none;
		 									-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

a.nav { color: #ef4832; text-decoration: none;
	 	padding: 2px;}
	a.nav:hover { background: #ef4832; color: #fff; }
	
a.tabs { 	color: #faf9f4; text-decoration: none;
	 				display: block; float: left; height: 20px; padding: 6px 10px;}
	a.tabs:hover { background: #a39e89; }
	
a.button { 	color: #ef4832; 
		 				padding: 2px;
		 				font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 13px; }
	a.button:hover { 	background: #A39E89; color: #fff; text-decoration: none;
		 				-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	
.pagination a { 	color: #fff; font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 14px; text-decoration: none;
			 						padding: 2px; }
			.pagination a:hover { color: #E24630; text-decoration: none; }
			
a.toolbar_button { 	display: block; height: 24px; padding: 8px 0 0 36px; width: 105px;
                    background: image-url("icon_add.png") 4px center no-repeat #858174;
                    color: #e4dfbf; font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 11px; letter-spacing: 1px; text-decoration: none; text-transform: uppercase; text-align: center;
                    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	a.toolbar_button:hover { background-color: #7a776a; color: #ece2c3; }
	
#activityFilter, #activityFilterAnalytics { background: #fff; color: #a39e89; font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 11px; text-transform: uppercase;
	 										height: 148px; }
	#activityFilter #title, #activityFilterAnalytics #title { font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 14px; }
	#activityFilter .pomo_row, #activityFilterAnalytics .pomo_row { margin-top: 6px; }
		#activityFilter .pomo_row.submit_row, #activityFilterAnalytics .pomo_row.submit_row { margin: 10px; }
	
	#activityFilterAnalytics { height: 110px; }

.clear_me { float: left; margin-right: 30px; }

.activity_toolbar_button { 	color: #f4f4ee;
                            font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 12px; font-weight: normal;
                            text-decoration: none; text-transform: uppercase;
                            padding: 4px 10px 4px 28px;
                            -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
                            /*text-shadow: 1px 1px 0px #817c6c;*/ }
	.activity_toolbar_button:hover { background-color: #9a9788; color: #f4f4ee; text-decoration: none; }
.dotoday { background: image-url("icon_do_today.png") 8px center no-repeat #b4b09f; }
.doitnow { background: image-url("icon_do_it_now.png") 8px center no-repeat #b4b09f; }
.edit { background: image-url("icon_edit.png") 8px center no-repeat #b4b09f; }
.delete { background: image-url("icon_delete.png") 8px center no-repeat #b4b09f; }
.clone { background: image-url("icon_clone.png") 8px center no-repeat #b4b09f; padding-left: 36px; }
.pomodoros_count { background: image-url("icon_pomodoro.png") 8px center no-repeat #b4b09f; padding-left: 30px; }
.comments_count { background: image-url("icon_comment.png") 8px center no-repeat #b4b09f; padding-left: 30px; }

li.completed_task, li.completed_project { background-color: #f5f3ea; }

#currentPomodoroForm .field { padding: 2px 14px 8px 14px; }
	#currentPomodoroForm .field label {  }
	#currentPomodoroForm .field textarea { 	margin-top: 4px;
                                            background-color: #e5e2d2; color: #6b685d;
                                            font-family: MetaProNormal, Arial, Verdana, sans-serif; }
#currentPomodoroForm .button { margin-top: -30px; margin-right: 12px; }

#btn_void_pomodoro { background: image-url("icon_void_pomodoro.png") left center no-repeat; color: #a39e89; font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 12px; text-transform: uppercase;
                     border: 0; padding-left: 18px;
                     cursor: pointer; }
#btn_edit_current_pomodoro { background: image-url("icon_edit_pomodoro.png") 6px center no-repeat; color: #a39e89; font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 12px; text-transform: uppercase; text-decoration: none;
                            border: 0; float: right; margin-top: -26px; margin-right: 12px; padding-left: 28px;
                            cursor: pointer; }
												
.pagination { color: #f4f4ee; font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 14px; }

.projectInfo { float: right; height: 12px; margin-top: -15px; }

.break_toolbar { background-color: #F1EFE5; padding: 12px; }

.odd { background-color: #f4f4ee !important; }

.time_is_up {   color: #ef4832;
                margin-bottom: 10px; padding-bottom: 52px;
                background: image-url("time_is_up.png") bottom center no-repeat;}
							
#pomodoro_submit { 	background-image: image-url("icon_complete_pomodoro.png");
	 				width: 96px; }
	
label { font-family: MetaProNormal, Arial, Verdana, sans-serif; }
fieldset { 	border: 1px solid #96917d; padding: 6px 0 6px 16px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
form.edit_user, form.edit_setting { width: auto !important; padding: 0 !important; }
	form.edit_user section, form.edit_setting section { padding: 20px 12px; }
		form.edit_user input[type="text"], form.edit_user input[type="password"], form.edit_setting input[type="text"], form.edit_setting input[type="password"] { width: 425px !important; }

#setting_pomodoro_length, #setting_short_break_length, #setting_long_break_length { width: 30px !important; }
#setting_pomodoro_length_slider, #setting_short_break_length_slider, #setting_long_break_length_slider, #setting_voice_notifications_volume_slider, #setting_tick_tack_sound_volume_slider, #setting_ring_sound_volume_slider { float: right; margin: 10px 430px 0 0; width: 200px; }

.drag_handle { 	clear: left; float: right; padding-top: 2px; margin: -3px 0 0 6px; width: 10px;
                font-size: 14px;
                cursor: move; }
	
#gravatar { float: left; height: 205px; margin: 0 22px 70px 10px; width: 200px;
	 		background: image-url("gravatar_bg.jpg") top left no-repeat; }
	#gravatar a.submit { 	float: left; height: 21px; margin: 30px 0 0 12px; padding: 7px 11px 4px 45px;
                            background: image-url("icon_change_avatar.png") 14px center no-repeat #e24630;
                            font-size: 12px; }
	
img.gravatar { float: left; margin: 19px 0 0 16px; }

#pomodoro_settings input[type="text"], #notifications input[type="text"] { -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
                                                                            height: 25px; width: 25px !important;
                                                                            font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 20px; text-align: center; vertical-align: middle;
                                                                            background-color: #98917e; color: #fff; }
#pomodoro_length { border-bottom: 1px solid #c8c5b7; padding-bottom: 18px; }
#short_break_length, #voice_notifications, #tick_tack_sound, #ring_sound { float: left; width: 50%; }
	#setting_short_break_length_slider, #setting_long_break_length_slider, #setting_voice_notifications_volume_slider, #setting_tick_tack_sound_volume_slider, #setting_ring_sound_volume_slider { margin-right: 85px; }
	
.edit_user .actions, .edit_setting .actions { border-top: 1px solid #c8c5b7; padding: 12px 28px;
	 																						text-align: right; }
	#user_submit, #setting_submit { background: image-url("icon_update_user.png") 12px center no-repeat #e24630;
		 															height: 34px; padding: 9px 10px 20px 40px; }

#user_details { overflow: hidden; width: 460px; }
	#user_details input { margin-left: 1px; }
#user_info .container_of_field_with_errors { overflow: hidden; width: 439px; }

#user_info { padding-right: 6px; }
.pomodoros_icons { 	float: right; margin-top: 2px; width: 145px;
	 				text-align: right; }
	
#pomodoro_settings input.numeric, #notifications input.numeric { background: image-url("bg_input.png") center center no-repeat #fff !important; }

#contact_request_content { height: 200px; width: 456px; }
#contact_request_submit { float: right; margin-top: -10px; }

.narrow { width: 440px; }
	.narrow div { display: inline; margin-right: 26px; }
	
#content p.contact {    font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 14px;
	 				    background-color: #fff; color: #696558; }
	
section.help { 	background-color: #fff;
	 			padding: 10px; }
	
.fancybox-bg { display: none !important; }

.container_of_field_with_errors #slider { /* margin-top: -21px; */ margin-left: 5px; }

#error_explanation { font-size: 14px; }
	#error_explanation h2 { font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 100%; }
	#error_explanation ul { list-style-type: decimal; list-style-position:inside;
		 					border-bottom: 1px solid red; padding-bottom: 18px; }
		
.help { font-size: 14px; }
	.help p { font-family: MetaProNormal, Arial, Verdana, sans-serif;
		 	    padding: 10px 5px;}
	.help ul, .help ol { 	list-style-position: inside;
		 					margin-left: 15px; }
		.help li { font-family: MetaProNormal, Arial, Verdana, sans-serif; }
		.help .more_white_space li { 	padding: 4px;
			 							font-family: MetaProNormal, Arial, Verdana, sans-serif; }
	.help strong { font-family: MetaProBold, Arial, Verdana, sans-serif; font-weight: normal; }
	
a.video_demo { color: #898989; font-family: MetaProBold, Arial, Verdana, sans-serif; font-weight: normal; text-decoration: none; }
.ui-datepicker * { font-family: MetaProNormal, Arial, Verdana, sans-serif; font-weight: normal; }

.pagination .disabled { font-family: MetaProNormal, Arial, Verdana, sans-serif; font-weight: normal; }
	.pagination a { font-family: MetaProBold, Arial, Verdana, sans-serif; font-weight: normal; }
	
.ec-calendar * { font-family: MetaProNormal, Arial, Verdana, sans-serif; font-weight: normal; }
	.ec-calendar th { padding: 12px; }
.ec-month-name { font-family: MetaProBold, Arial, Verdana, sans-serif; font-weight: normal !important; text-align: center; }
.ec-next-month { text-align: right; }
.ec-body { border: 0 !important; }
.ec-event { font-size: 12px;
	 					padding-left: 4px !important; padding-top: 0px !important; }
.ec-day-header { font-family: MetaProBold, Arial, Verdana, sans-serif; font-weight: normal !important; }
.ec-day-names { padding: 0 !important; }
.ec-day-name { 	color: #A39E89; text-align: center; font-family: MetaProBold, Arial, Verdana, sans-serif; font-weight: normal !important;
	 							margin: 6px; padding: 0 !important; }

.two_on_row { float: left; width: 540px; }
	.two_on_row.first { width: 142px; }
	
.inactive { display: none; }

.ec-event-bg a { color: #000 !important; }
.ec-event-bg a.activityCompleted { color: #555 !important; }
.ec-event-cell a.activityCompleted { text-decoration: line-through; }

#interruptions .interruptions_types { height: 79px; /* width: 116px; */
	 								  background-color: #fff;}
	#interruptions h6 { text-align: center; }
#externalInterruptions { /* float: right; margin-top: -79px; */ }
#internalInterruptions { /* border-right: 1px solid #918C77; */ }
.interruption_button { 	display: block; float: left; height: 30px; margin: 6px; overflow: hidden; padding: 4px; width: 30px;
	 											background: image-url("icon_add.png") no-repeat center center #858174;
	 											text-indent: -999px; 
												-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	.interruption_button:hover { background-color: #7A776A; }
.interruptions_count { 	display: block; float: left; height: 30px; margin: 6px; overflow: hidden; padding: 4px; width: 42px;
	 					color: #A39E89; font-family: MetaPlusMediumCapsRegular, Arial, Verdana, sans-serif; font-size: 40px; line-height: 32px; text-align: center; }
	
.pomodoroActivityName .pomodoro { font-family: MetaProBold, Arial, Verdana, sans-serif; font-weight: normal; }
	.pomodoroActivityName .pomodoro .pomodoroDate { font-family: MetaProNormal, Arial, Verdana, sans-serif; font-weight: normal; text-transform: capitalize; }
	.pomodoroActivityName .pomodoro.pomodoroVoided { color: #EF4832; }
	
#pomodorosList, #commentsList { 	list-style: none;
	 																margin: 6px 0 0 -2px; max-height: 300px; overflow: auto;
	 																border: 0px solid #918C77; }
	#pomodorosList .pomodoroActivityName { 	color: #787465; width: 600px;
		 																			font-family: MetaProNormal, Arial, Verdana, sans-serif; font-weight: normal; font-size: 11px; }
	#pomodorosList .pomodoroDetailsView, #pomodorosList .pomodoroDetailsView li { font-size: 11px; }
	.pomodoroInfoBar { 	margin: 0; padding: 0;
											list-style: none; }
		.pomodoroInfoBar li { padding: 0; }

	.pomodorosListTitle, .commentsListTitle { background-color: #E5E2D2 !important; }
		.pomodorosListTitle div, .commentsListTitle div { color: #827D6A; font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 14px; }
		
/* autocomplete */
.ui-autocomplete { 	max-height: 100px; overflow-y: auto;
										/* prevent horizontal scrollbar */
										overflow-x: hidden;
										/* add padding to account for vertical scrollbar */
										padding-right: 20px;
}

	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
* html .ui-autocomplete { height: 100px; }

/* quickclear */
.clearBtnContainer { position:relative;	display:inline-block; }
.clearButton { position:absolute; right: 5px; top: 8px; cursor:pointer; }

.toggable { 	padding-right: 20px;
	 						cursor: pointer; }
	#sidebar .toggable { 	display: block; float: right; height: 16px; margin: -24px 8px 0 0; overflow: hidden; width: 16px;
		 										text-indent: 999px; }
.expandable { background: image-url("expand.png") center right no-repeat; }
.collapsable 	{ background: image-url("collapse.png") center right no-repeat; }

.collapsed_toolbar { height: 34px !important; overflow: hidden; }

#activityFilterAnalytics #q_project { margin-left: 46px; margin-right: 10px; }

.quick_stats table { width: 100%; }
.quick_stats table th { font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 14px; text-align: center;
	 											background-color: #A39E89; color: #fff; }
.quick_stats table td { font-family: MetaProNormal, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; 
												background-color: #E5E2D2; color: #A39E89;
	 											padding: 0 4px;}
	
#commentsList { max-height: none; }
#commentsList #comment_content { 	height: 60px; padding: 4px; width: 636px;
	 																font-family: MetaProNormal,Arial,Verdana,sans-serif; font-size: 12px; 
	 																color: #6B685D; }
#commentsList #comment_submit { margin-top: 4px; padding-left: 0px; }
#commentsList .delete_comment, #pomodorosList .delete_pomodoro { 	text-indent: -999px;
	 																																display: none; float: right; height: 10px; margin: -15px -5px 0 10px; overflow: hidden; width: 10px;
																																	background: image-url("clear.png") top left no-repeat; }
#commentsList li, #pomodorosList li { padding: 6px 10px;
	 																		font-size: 12px; }
	#commentsList li strong { font-family: MetaProBold, Arial, Verdana, sans-serif; font-weight: normal; font-size: 12px; }
		#commentsList li #comment_content:focus { outline: none !important; }
	
	
#tooltip { display: none; height: 20px; padding: 2px 5px 2px 38px; position: absolute; 
					background: image-url("bg_tooltip_small.png") 4px center no-repeat #fff; color: #c83d2b; opacity: 0.8;
					font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 12px; }
					
#loader { display: none; height: 32px; overflow: hidden; padding: 2px; position: absolute; width: 32px;
					background: image-url("loading_feedback.gif") center center no-repeat transparent; opacity: 0.8;
					font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 12px; text-indent: -9999px;}
					
#speaker { 	background: image-url("bg_speaker.jpg") center left no-repeat #fff;
	 					border: 2px solid #b9b9b9; height: 42px; padding-left: 36px; 
						color: #b9b9b9; text-shadow: none; }
						
.active_filtering {  }

.invisible { display: none; }
.pomodoro_toolbar { margin-top: 6px; }

.inline_help { 	background: #A39E89;
	 							-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
								color: #FFFFFF; font-family: MetaProBold, Arial, Verdana, sans-serif; font-size: 12px;
								margin-right: 2px; padding: 2px 4px;
								text-transform: uppercase; white-space: nowrap; }

/* priority */
li.high { border-left: 2px solid #E24630; padding-left: 8px; }
li.medium_high { border-left: 2px solid #E29031; padding-left: 8px; }
li.medium { border-left: 2px solid #F9F939; padding-left: 8px; }
li.medium_low { border-left: 2px solid #4FC62B; padding-left: 8px; }
li.low { border-left: 2px solid #38D7FF; padding-left: 8px; }
li.none {  }

a.high { border-left: 2px solid #E24630; padding-left: 2px; }
a.medium_high { border-left: 2px solid #E29031; padding-left: 2px; }
a.medium { border-left: 2px solid #F9F939; padding-left: 2px; }
a.medium_low { border-left: 2px solid #4FC62B; padding-left: 2px; }
a.low { border-left: 2px solid #38D7FF; padding-left: 2px; }
a.none {  }

.widgetBox .activityList li.high, .widgetBox .activityList li.medium_high,
.widgetBox .activityList li.medium, .widgetBox .activityList li.medium_low, .widgetBox .activityList li.low { padding-left: 10px; }

select.high { background: #E24630; color: #fff; }
select.medium_high { background: #E29031; color: #fff; }
select.medium { background: #F9F939; }
select.medium_low { background: #4FC62B; }
select.low { background: #38D7FF; }
select.none {  }

.field.numeric { max-width: 700px !important; }