<% unless @activities.empty? %>

  <section class="group" id="activities_list">

    <% prev_priority = "" %>
    <% opened_ul = false %>

    <% @activities.each do |a| %>

      <% if a.priority != prev_priority %>

        <% unless prev_priority.blank? %>
          </ul>
        <% end %>

        <h6><%= a.priority.titleize %></h6>

        <ul class="activityList">
          <% prev_priority = a.priority %>
          <% opened_ul = true %>
      <% end %>

      <%= render :partial => "shared/activity", :locals => { :a => a } %>

    <% end %>
    </ul>

  </section>

  <%= will_paginate @activities %>

<% else %>
  <%= render 'no_activities' %>
<% end %>