		<%= render 'shared/login_header' %>
		
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "flash alert alert-#{key}") %>
		<% end %>
		
		<section id="content" class="contentBoxNav">
			
			<%= yield %>
			
		</section>
		
	</div>

</div>

<%= render "shared/footer" %>